

.FancyBorder {
    padding: 10px 10px;
    border: 10px solid;
}

.FancyBorder-red {
    border-color: #993e37;
}

.Dialog-title {
    margin: 0;
    font-family: sans-serif;
}

.Dialog-message {
    font-size: larger;
}


.SplitPane{
    width: 100%;
    height: 100%;
}
.SplitPane-left{
    float: left;
    width: 33.33%;
    height: 100%;
}
.SplitPane-center{
    float: left;
    width: 33.33%;
    height: 100%;
}
.SplitPane-right{
    float: left;
    width: 33.33%;
    height: 100%;
}

.Chat{
    text-align: center;
    width: 100%;
    height: 100%;
    background: pink;
}
.Center{
    text-align: center;
    width: 100%;
    height: 100%;
    background: aquamarine;
}
.Contact{
    text-align: center;
    width: 100%;
    height: 100%;
    background: lightblue;
}